{% extends 'base.html' %}
{% load staticfiles %}


{% block title_blk %}My Notebook{% endblock %}


{% block css_blk %}
	<link rel= "stylesheet" href= "{% static 'css/me01.css' %}" />
{% endblock %}


{% block body_blk %}
	{% include './mynb_navig.html' %}

	<h1>Topic: {{ topic.subject }}</h1>

	<p>Entries:</p>
	<ul>
	{% for e in entries %}
		<li>
		<p>{{ e.entry_date|date:'M d, Y H:i' }}</p>
		 <p>{{ e.text|linebreaks }}</p>
		</li>
	{% empty %}
		<li>There are no entries for this topic yet.</li>
	{% endfor %}
	</ul>


{% endblock %}